body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.container {
    width: 95%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
}

@media (min-width: 576px) {
    .container {
        max-width: 566px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 756px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 980px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1141px;
    }
}

.error {
    color: red;
    background: #eee;
    padding-left: 2em;
    padding-right: 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}
